.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  grid-gap: 40px;
}

.cards > ul > li {
  /* border: 1px solid var(--highlight-background-color); */
  background-color: var(--background-color)
}
.cards > ul > li a:any-link{
  color: var(--text-color);
}
.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
  overflow: hidden;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li p{
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  display: -webkit-box;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  transition: all .2s linear;
}

.cards > ul > li:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* 3 columns card list */
.cards.col-3 > ul {
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
}
