main .section.article-header.cards-container > div.cards-wrapper{
  padding: 0;
}
.cards-container .cards-wrapper{
  padding: 0;
  margin-top: 56px;
}
.cards-container h2{
  font-family: GilroyBold;
}
.cards-container h3{
  font-family: GilroyBold;
  font-size: var( --heading-font-size-s);
}

.cards-container .cards-wrapper h5, .cards-container .subheadline{
  font-family: GilroyBold;
  font-size: var(--card-font-size-xxs);
}
.cards-container .cards-wrapper h4, .cards-container .headline{
  font-family: GilroyBold;
  font-size: var(--body-font-size-xs);
}

.cards-container .cards-wrapper h4 a, .cards-container .headline a {
  background: none;
}

.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 40px;
}

.cards > ul > li {
  /* border: 1px solid var(--highlight-background-color); */
  background-color: var(--background-color)
}
.cards > ul > li a:any-link{
  color: var(--text-color);
}
.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
  overflow: hidden;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li p{
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  display: -webkit-box;
  font-size: var(--card-font-size-xs);
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  transition: all .2s linear;
}

.cards > ul > li:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* 3 columns card list */
.cards.col-3 > ul {
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
}
.slideup ul li{
  transform: translate3d(0,var(--y-position,150px),0);
  transition: transform .5s var(--transition-delay,0s);
  background-color: #F7F7F7;
}

.slideup ul li.come-in {
  transform: translateY(0);
}

/** Search button **/
.hide{
  display: none;
}

/** gnav search**/
.gnav-search-field{
  display: flex;
  flex-direction: row;
}

.gnav-search-input{
  background-color: #f7f7f7;
  border: 0;
  border-radius: 2px;
  font-size: 1.8rem;
  height: 32px;
  margin: 0 0 0 20px;
  outline: none;
  padding: 8px 0 8px 0;
  text-indent: 20px;
  vertical-align: top;
  width: inherit;
  flex-basis: 75%;
  font-family: var(--body-font-family);
}


/** Search Results **/
.search-container{
  max-width: 1000px;
  margin: 50px auto;
}
.search-container .article-card{
  display: flex;
  align-items: center;
}

.search-container .article-card .article-card-image{
  flex-basis: 25%;
}

.search-container .article-card .article-card-body{
  padding: 0 30px;
  flex-basis: 75%;
}
@media (min-width: 768px){
  .cards-container h3 {
    font-size: var(--heading-font-size-m);
  }
  .cards-container .cards-wrapper h4, .cards-container .headline {
    font-size: var(--heading-font-size-s);
  }
  .cards > ul {
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));

  }
  .cards > ul > li p{
    font-size: var(--body-font-size-xs);
  }
}
@media (min-width: 1024px){
  .cards-container h3 {
    font-size: var(--card-font-size-l);
  }
  .cards-container .cards-wrapper h4, .cards-container .headline {
    font-size: var(--body-font-size-m);
  }
}
@media (min-width: 1700px){
  .cards-container h3 {
    font-size: var(--card-font-size-xl);
  }
  .cards-container .cards-wrapper h4, .cards-container .headline {
    font-size: var(--heading-font-size-s);
    margin-bottom: 8px;
    margin-top: 0;
  }
  .cards-container .cards-wrapper h5, .cards-container .subheadline {
    margin-bottom: 8px;
  }
  .cards > ul > li p{
    font-size: var(--body-font-size-s);
    margin-top: 0;
  }

}

